jupyter==1.0.0
pandas==1.5.2
numpy==1.24.1
matplotlib==3.6.2
deep_translator==1.9.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.20.9
statsmodels==0.13.5
scikit-learn==1.2.1
geopandas==0.12.2
folium==0.14.0
kneed==0.8.2
geopy==2.3.0
openpyxl==3.0.10
pysal==2.7.0
plotly==5.13.0
pmdarima==2.0.2
selenium==4.8.0